awsebcli==3.6.2
blessed==1.9.5
blinker==1.3
botocore==1.3.15
bowerstatic==0.7
cement==2.4.0
click==6.2
colorama==0.3.3
coverage==4.0.3
docker-py==1.1.0
dockerpty==0.3.4
docopt==0.6.2
docutils==0.12
Flask==0.10.1
Flask-Admin==1.0.9
Flask-Bcrypt==0.6.0
Flask-Cache==0.13.1
Flask-Login==0.2.11
Flask-Mail==0.9.1
flask-mongoengine==0.7.4
Flask-Principal==0.4.0
Flask-PyMongo==0.4.0
Flask-SSLify==0.1.5
Flask-WTF==0.10.3
gunicorn==19.1.1
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
mandrill==1.0.57
MarkupSafe==0.23
mongoengine==0.10.5
mongokit==0.9.1.1
ordereddict==1.1
passlib==1.6.2
pathspec==0.3.3
py==1.4.31
py-bcrypt==0.4
PyExecJS==1.1.0
pymongo==3.1.1
pytest==2.8.4
pytest-cov==2.2.0
pytest-flask==0.10.0
pytest-html==1.7
pytest-pythonpath==0.7
pytest-selenium==1.1
pytest-variables==1.3
python-dateutil==2.4.2
python-dotenv==0.3.0
PyYAML==3.11
requests==2.6.2
selenium==2.48.0
six==1.8.0
texttable==0.8.4
wcwidth==0.1.5
webassets==0.10.1
WebOb==1.4
websocket-client==0.34.0
Werkzeug==0.11.2
wheel==0.24.0
WTForms==2.0.1
