{% extends "layout.html" %}

{% block body %}
  <h1>Login</h1>
  <form class="" action="{{request.path}}" method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Login</legend>
            <ul>
            <li><label>{{form.username.label}}</label>{{form.username()}}</li>
            <li><label>{{form.password.label}}</label>{{form.password()}}</li>
            </ul>
    </fieldset>
    <input type="submit">
</form>

{% for field in form.errors %}
{% for error in form.errors[field] %}
    <div class="alert alert-error">
        <strong>Error!</strong> {{error}}
    </div>
{% endfor %}
{% endfor %}
{% endblock %}