{% extends "layout.html" %}

{% block extra_css %}
<style type="text/css">
</style>
{% endblock %}


{% block body %}
  <!-- <h1>Add an Attorney</h1> -->
<h1>Bulk Upload</h1>
<p>To upload multiple attorneys, please enter the data using <a href="{{ url_for('static', filename='docs/bulkattorneys.csv') }}">this csv template</a> using Excel or similar spreadsheet application, and email the completed spreadsheet to <a href="mailto:probonohonorroll@esq.io">probonohonorroll@esq.io</a>.</p>
{% if current_user.is_authenticated() %}
<form action="{{request.path}}" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Upload</legend>
        <label>{{form.f.label}}</label>{{form.f()}}
    </fieldset>
    <input type="submit">
</form>
{% endif %}
{% endblock %}