{% extends "layout.html" %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
{% endblock %}
{% block body %}
<table id="honorroll" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Organization</th>
                <th>Year</th>
                <th>Honors</th>
            </tr>
        </thead>
 
        <tbody>
        {% for attorney in attorneys %}
            <tr>
                <td>{{attorney.first_name}}{% if attorney.middle_initial%} {{attorney.middle_initial}} {% endif%} {{attorney.last_name}}</td>
                <td>{{attorney.organization_name}}</td>
                {% if attorney.records | length >= 1 %}
                <td>{{attorney.records[0].year}}</td>
                <td>{{attorney.records[0].honor_choice}}</td>
                {% else %}
                <td></td>
                <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src='//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js'></script>
<script type="text/javascript">
    $(document).ready(function() {
    $('#honorroll').DataTable();
    });
</script>
{% endblock %}