{% extends "layout.html" %}

{% block body %}
  <p>If you would like to edit your entry, please enter your email address in the form below. An email with a link to update the entry will be sent to you directly. If you have any difficulty, please email <a href="mailto:lydia.watts@dcaccesstojustice.org">lydia.watts@dcaccesstojustice.org</a>.</p>
  <div class="form-style-8">
  <form class="" action="{{request.path}}" method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Look up by Email Address</legend>
        <div data-row-span="1">
            <div data-field-span="1">
                <label>{{form.email_address.label}} {% if form.email_address.flags.required %}<span class="required">* Required</span>{% endif %}</label>
                {{form.email_address()}}
            </div>
        </div>
    </fieldset>
    <button name="submit" type="submit">Submit</button>
</form>
</div>
{% endblock %}
