{% extends "layout.html" %}

{% block body %}
<h1>Questions about the Capital Pro Bono Honor Roll?</h1>
<h2 id="what-qualifies-as-pro-bono-service-">What qualifies as pro bono service?</h2>
<p>Qualifying pro bono service is defined as &quot;legal services provided at no fee and without expectation of fee to one or more of the following: (i) persons of limited means or charitable, religious, civic, community, governmental, or educational organizations in matters which are designed primarily to address the needs of persons of limited means; (ii) individuals, groups, or organizations seeking to secure or protect civil rights, civil liberties, or public rights; and (iii) charitable, religious, civic, community, governmental, or educational organizations in matters in furtherance of their organizational purposes, where the payment of standard legal fees would significantly deplete the organization&#39;s economic resources or would be otherwise inappropriate.”</p>
<h2 id="does-pro-bono-service-performed-outside-of-dc-count-toward-the-total-hours-">Does pro bono service performed outside of DC count toward the total hours?</h2>
<p>No, the Capital Pro Bono Honor Roll, created by the DC Court of Appeals and the Superior Court of DC, is intended to encourage pro bono service to benefit individuals and organizations based in DC.</p>
<h3>Problems with the site?</h3>
<p>If you have any questions about the Capital Pro Bono Honor Roll, please email <a href="lydia.watts@dcaccesstojustice.org">lydia.watts@dcaccesstojustice.org</a>.</p>
{% endblock %}
