{% extends "layout.html" %}

{% block body %}
<h1>Questions about the Capital Pro Bono Honor Roll?</h1>
<h2 id="what-qualifies-as-pro-bono-service-">What qualifies as pro bono service?</h2>
<p>The term pro bono refers to activities undertaken normally without expectation of fee and not in the course of ordinary commercial practice and consisting of (i) the delivery of legal services to persons of limited means or to charitable, religious, civic, community, governmental and educational organizations in matters which are designed primarily to address the needs of persons of limited means; (ii) the provision of legal assistance to individuals, groups, or organizations seeking to secure or protect civil rights, civil liberties or public rights; and (iii) the provision of legal assistance to charitable, religious, civic, community, governmental or educational organizations in matters in furtherance of their organizational purposes, where the payment of standard legal fees would significantly deplete the organization’s economic resources or would be otherwise inappropriate.</p>
<h2 id="does-pro-bono-service-performed-outside-of-dc-count-toward-the-total-hours-">Does pro bono service performed outside of DC count toward the total hours?</h2>
<p>Yes, if you are a DC Bar member performing pro bono services outside of DC, those hours do count toward your total pro bono hours.</p>
<h2 id="what-if-i-am-not-a-member-of-the-dc-bar-can-i-be-included-in-the-capital-pro-bono-honor-roll-">What if I am not a member of the DC Bar, can I be included in the Capital Pro Bono Honor Roll?</h2>
<p>Yes, if you meet one of the following criteria, you can register your name for inclusion in the Capital Pro Bono Honor Roll. You will be asked in the registration, under what category you performed your pro bono services:</p>
<ul>
<li>During the performance of my pro bono work I was a D.C. Bar member.</li>
<li>During the performance of my pro bono work I was not a D.C. Bar member, but had submitted an application for admission.</li>
<li>During the performance of my pro bono work I was not a D.C. Bar member, but was an employee of the United States.</li>
<li>During the performance of my pro bono work I was not a D.C. Bar member, but was an internal counsel who was assigned or referred a case by an organization that provides legal services to the public in DC without fee.</li>
<li>During the performance of my pro bono work I was not a D.C. Bar member, but was a member in good standing of the highest court of any state and provided pro bono legal services to D.C. residents solely before a U.S. special court, department, or agency.</li>
<li>During the performance of my pro bono work I was not a D.C. Bar member, but provided legal services to D.C. residents as part of a special program for representation or assistance that was expressly authorized by the D.C. Court of Appeals or Superior Court.</li>


</ul>
<h2 id="last-year-i-could-do-a-bulk-upload-of-attorney-data-can-i-still-do-that-">Last year, I could do a bulk upload of attorney data, can I still do that?</h2>
<p>Yes. If you would like to submit bulk data, download <a href="{{ url_for('static', filename='docs/bulkattorneys.csv') }}">this test data file</a>, fill in the correct data and email the data to <a href="mailto:dave@esq.io">dave@esq.io</a>.</p>
<h3>Problems with the site?</h3>
<p>If you have any questions about the Capital Pro Bono Honor Roll, please email <a href="mailto:lydia.watts@dcaccesstojustice.org">lydia.watts@dcaccesstojustice.org</a>.</p>
{% endblock %}
