{% extends "layout.html" %}

{% block body %}
<h1>Pro Bono Honor Roll</h1>
<h3>Thank you!</h3>
<p>Thank you for participating in the Capital Pro Bono Honor Roll.</p>
<p>If you need to edit your entry, please visit <a href="capitalprobono.org/email_edit">https://capitalprobono.org/email_edit</a> and you can receive an email with a personalized link to editing your entry.</p>
<p>In the meantime, if you have any difficulty, please contact lydia.watts@dcaccesstojustice.org.</p>
<p>Thank you again!</p>
{% endblock %}
