{% extends "layout.html" %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
{% endblock %}
{% block body %}
<div id="loading">Loading... please wait</div>
<table id="honorroll" class="display" cellspacing="0" width="100%"></table>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src='//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js'></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/AttorneyTable.js') }}"></script>
<script type="text/javascript">
$().ready(function(){
  AttorneyTable()
})
</script>
{% endblock %}
