{% extends "layout.html" %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
{% endblock %}
{% block body %}
<table id="honorroll" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Firm/Agency</th>
                <th>Year</th>
                <th>Honors</th>
            </tr>
        </thead>

        <tbody>

        </tbody>
    </table>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src='//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js'></script>
<script type="text/javascript">
    $(document).ready(function() {
      $.getJSON('/api/attorneys', function (data) {
        $('#honorroll').DataTable(
          {
          "data": data,
          "columns": [
            { "data": "first_name" },
            { "data": "last_name" },
            { "data": "organization_name" },
            { "data": "year" },
            { "data": "honors"}
          ],
          'order':[[2,'asc'],[0,'asc']]
        });        
      })
    });
</script>
{% endblock %}
